aside > h2 {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eee;
}

.comment {

  background-image: url(/public/img/comment-header.svg);
  background-repeat: no-repeat;
  background-position: 60px 10px;
  margin-bottom: 20px;
  
  .comment-header {
    color: #999;
  }

  .comment-username {
    font-weight: bold;
  }

  a.comment-date {
    color: #999;
    &:hover {
          color: #444;
    }
   }

  .comment-body {
    padding-left: 80px;
    padding-top: 20px
  }
  
  img {
    border-radius: 3px !important;
    vertical-align: middle;
    margin-right: 50px;
  }

  p {
    padding-bottom: 0.75em;
  }
}